@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap');

:root {
    scroll-behavior: smooth;
    --ff-title: 'Bricolage Grotesque', sans-serif;
    --ff-text: 'Rubik', sans-serif;
    --clr-black: rgb(28, 28, 28);
    --clr-white: rgb(242, 235, 217);
    --clr-white-transparent: rgba(242, 235, 217, .9);
    --clr-discord: rgb(88, 101, 242);
    --clr-secondary: rgb(255, 60, 0);
    --clr-secondary-transparent: rgba(255, 60, 0, .5);
}